<!DOCTYPE html>
<html>
<head>
	<title>Impact Game</title>
	<style type="text/css">
	html,body {
		background-color: #333;
		color: #fff;
		font-family: helvetica, arial, sans-serif;
		margin: 0;
		padding: 0;
		font-size: 12pt;
	}
	#hidden {
		color: #333;
		padding-left: 25px ;
	}
	#hidden a {
		color: #333;
		background-color:transparent;
		text-decoration:underline
	}
	#hidden a:hover {
		color: red;
		background-color:transparent;
		text-decoration:underline
	}

	#canvas {

		//cursor: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	a:active  {color:yellow; background-color:transparent; text-decoration:underline}

	</style>

	<script type="text/javascript" src="game.min.js"></script>
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71832955-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>
	<canvas id="canvas"></canvas>

	<br<a href="https://yongbin999.wordpress.com/impactjs_game">
	Credits Below: (highlight with Cursor)</a>

	<div id="hidden">
		<br><a href="https://pixlr.com">Photo editing:</a>
		<br>tower – umass image photoshoped
		<br>levelmap - google map
		<br>
		<br>Bullets:
		<br><a href="http://i.imgur.com/SEe7Y0m.png/Antique_Book_noBG.png">books</a>
		<a href="http://previews.123rf.com/images/gamegfx/gamegfx1401/gamegfx140100068/25977656-Set-of-different-sport-balls--Stock-Vector.jpg">balls</a>
		<br><a href="http://www.otlayi.com/web_images/content/free-doc-type-sprite-icons.jpg">codes</a>
		<br><a href="http://orig10.deviantart.net/9557/f/2013/317/2/2/sprite___custom___potions__old__by_eviscus-d6u5v2t.png">potion</a>
		<br>
		<br>Snow effect:
		<br><a href="http://docs.yoyogames.com/source/dadiospice/002_reference/particles/particle%20types/part_type_shape.html">Snow Pic </a>
		<br><a href="https://github.com/ansimuz/snow-emitter">snow emitter</a>
		<br>
		<br>Snow effect:
		<br><a href="https://gist.github.com/Houly/1395616#file-button-js">button background</a>
		<br>
		<br>Hero:
		<br><a href="http://icongal.com/gallery/icon/63461/128/winter_snow_angel_follow_christmas_weather_avatar">avatar </a>
		<br><a href="https://ssl-forum-files.fobby.net/forum_attachments/0001/8032/MotherXP_Hero.PNG">hero spritesheet </a>
		<br><a href="https://www.chronocompendium.com/images/wiki/e/e3/Cyrus_Monster_Sprites.png">monster</a>
		<br>
		<br><a href="http://www.bfxr.net/">sound effect</a>
		<br><a href="http://www.newgrounds.com/audio/listen/654493">backgroundsound - Alone In A Cold Void</a>
		<br>
		<br><a href="https://www.7kfans.com/wiki/images/b/bd/Cursors.png">cursor(not implemented): </a>
		<br>
		<br>
	</div>


		<br><a href="https://yongbin999.wordpress.com/">My projects blog</a>
</body>
</html>
