<!DOCTYPE html>
<html>
<head>
  
  <% include partial_head_resource %>

    <!-- canvas styles -->
    <link href="stylesheets/impact_canvas.css" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" type="text/css" href="stylesheets/ads.css">
</head>

<body>


  <% include partial_menu %>

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">

                <h1 class="page-header">
                <div id="ad_space" alt = "Google ads">

                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- JavaScript game development -->
                  <ins class="adsbygoogle"
                       style="display:block"
                       data-ad-client="ca-pub-1275631325618401"
                       data-ad-slot="9024150973"
                       data-ad-format="auto"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>

                </div>
                </h1>

            </div>
        </div>
        <!-- /.row -->
  

        <div class="row">
            <div id="game">
              <!-- <canvas id="canvas">live node.js server, impact.js html5 framework, homemade tower defense javascript game</canvas>-->


              <div id="mainContainer">
                  <div id="content">
                  <video id="contentElement">
                    <source src="http://rmcdn.2mdn.net/Demo/vast_inspector/android.mp4"></source>
                    <source src="http://rmcdn.2mdn.net/Demo/vast_inspector/android.webm"></source>
                  </video>
                </div>
                <div id="adContainer"></div>

              <button id="playButton" onclick="hide('playButton')">Play</button>
              </div>
              <script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3.js"></script>
              <script type="text/javascript" src="js/ads.js"></script>
              <script type="text/javascript">
                  function hide(obj) {
                    var el = document.getElementById(obj);
                        el.style.display = 'none';}
              </script>

            </div>
        </div>
        <!-- /.row -->

        <% include partial_footer %>


</body>
</html>
