html,body {
		background-color: #333;
		color: #fff;
		font-family: helvetica, arial, sans-serif;
		margin: 0;
		padding: 0;
		font-size: 12pt;
	}
	#hidden {
		color: #333;
		padding-left: 25px ;
	}
	#hidden a {
		color: #333;
		background-color:transparent;
		text-decoration:underline
	}
	#hidden a:hover {
		color: red;
		background-color:transparent;
		text-decoration:underline
	}
	
	#ad_space {
	  	width: 100%;
  		text-align: center;
	}
	#game {
 		display: table;
		margin: 0 auto;
	}
	#canvas {
		//cursor: none;
		//position: absolute;
		//left: 0;
		//right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		//width: 75%;
	}

