html,
body {
	background-color: #333;
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 12pt;
}

#hidden {
	color: #333;
	padding-left: 25px;
}

#hidden a {
	color: #333;
	background-color: transparent;
	text-decoration: underline
}

#hidden a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline
}

#ad_space {
	width: 100%;
	text-align: center;
}

#game {
	display: flex;
	margin: 0 auto;
	min-width: 640px;
	min-height: 360px;
	text-align: center;
}

#canvas {
	margin: auto;
	width: 100%;
}