<!DOCTYPE html>
<html lang="en">
<head>
  <% include partial_head_resource %>
</head>

<body>

  <% include partial_menu %>



    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">About this Game Develpment
                </h3>

                <a href="https://github.com/yongbin999/impactjs_game">last updates in github repo</a>


                <h4>level/ templates:</h4>
                        * homemade level-map from googlemap
                 <br> * welmister background, collision
                 <br> * layer entities -- change zIndex then call sortentitiesdefer
                 <br> * images - transparency
                 <br> * get new font color and size/bold - impact tool 
                 <br> * camera follow player center
                 <br> * states  - menu/credits/game/game_over
                 <br> * timer for bonus
                 <br> * text fading and flashing use alpha
                 <br> * health bars
                 <br> * scores and resources
                 <br> * countdown wins
                 <br> * level advancement by timmer and replays
                 <br> * clickable button for upgrades, restartgame 


                <h4>player:</h4>
                        * options for classes and bonuses
                 <br> * different animation sprites
                 <br> * in range detect closest monsters
                 <br> * mouse click for movement and targets
                 <br> * movement facing directions


                <h4>tower:</h4>
                        * homemade tower spritesheet from photoshop
                 <br> * change animation  when clicked
                 <br> * clickable entity change the display information on the buttons
                 <br> * on collision minus health with monster

                <h4>monster:</h4>
                        * change animation  when clicked   
                 <br> * built collision using distance to player
                 <br> * play sound when attack               

                <h4>bullets:</h4>
                        * bullets fly spawn entity
                 <br> * sound
                 <br> * rotate/flip
                 <br> * kill() on collision with monster, set moving ignore map collision

                <h4>mouse:(not implemented)</h4>
                        * hide mouse cursor
                 <br> * change mouse display on clickable stuff?                 ----- not done draw mouse
                 <br> * clicked target circle spawn? then kill after 1 second?       ----- not done

                <h4>scoreboard:(not implemented)</h4>
                         * create .min.js file  -- use the tool script
                 <br> * hosting      - no src files: imact and welmister
                 

            </div>
        </div>
        <!-- /.row -->


        <!-- Footer -->
        <% include partial_footer %>

</body>

</html>
