<!DOCTYPE html>
<html>
<head>
  <% include partial_head_resource %>
</head>
<body>
  <% include partial_menu %>
<br>
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                There is an error with this link
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <% include partial_footer %>


</body>
</html>
