<!DOCTYPE html>
<html>

<head>
  <% include partial_head_resource %>
    <!-- canvas styles -->
    <link href="stylesheets/ads.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/impact_canvas.css" rel="stylesheet" type="text/css">
    <!-- load game -->
    <script type="text/javascript" src="game.min.js"></script>

</head>

<body>
  <% include partial_menu %>
  
    <!-- Page Heading/Breadcrumbs -->
    <div>
      <div class="col-lg-12">
        <h1 class="page-header">
          <div id="ad_space" alt="Google ads"></div>
        </h1>

      </div>
    </div>
    <!-- /.row -->

  
      <div id="game">
            <canvas id="canvas">Library Tower Defense at UMass Amherst</canvas>
      </div>

  <% include partial_footer %>
</body>
</html>