    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Windy Towers Game</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://yongbin999.wordpress.com/2015/10/26/java-script-game-project/#commentform" target="_blank">Comment on my Game!</a>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>                    
                    <li>
                        <a href="credits">Credits</a>
                    </li>
                   
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Source <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://github.com/yongbin999/impactjs_game" target="_blank">Github source code</a>
                            </li>
                            <li>
                                <a href="https://people.cs.umass.edu/~ctinckne/cs397j" target="_blank">Game Class Course page</a>
                            </li>
                            <li>
                                <a href="https://yongbin999.wordpress.com/" target="_blank">My Other Projects</a>                            
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
