<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Library Tower Defense</title>

<!-- Bootstrap Core CSS -->
<link href="stylesheets/bootstrap.min.css" rel="stylesheet" />

<!-- Custom CSS -->
<link href="stylesheets/modern-business.css" rel="stylesheet" />

<!-- Custom Fonts -->
<link
  href="font-awesome/css/font-awesome.min.css"
  rel="stylesheet"
  type="text/css"
/>
<!-- load google analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1275631325618401"
crossorigin="anonymous"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-Z9426TQW5T");
</script>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>


<meta property="og:title" content='Library Tower Defense'/>
<meta property="og:image" content='/public/'/>
<meta property="og:description" content='Library Tower Defense at Umass Amherst!'/>
<meta property="og:url" content='https://windy-tower-73bee.web.app/'/>
<meta property='og:image:width' content='1000' />
<meta property='og:image:height' content='445' />
<meta property="og:type" content='website'/>
<meta property="og:author" content='Yong Liang'/>
<meta property="og:publishdate" content='2016'/>
